python3.11 -m venv venv

source venv/bin/activate

pip install flask flask_sqlalchemy psycopg2-binary


mkdir data
cd data
wget http://download.geonames.org/export/dump/cities5000.zip
unzip cities5000.zip

